<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
</head>
<body>

<div class="container">
    <div class="subcontainer">
        <h2>ID: {{ order_detail.id }}</h2>
        <h2>User: {{ order_detail.user }}</h2>
        <h2>Movie: {{ order_detail.movie }}</h2>
        <h2>Theater: {{ order_detail.theater }}</h2>
        <h2>Quantity: {{ order_detail.quantity }}</h2>
        <h2>Order Date: {{ order_detail.order_date }}</h2>
       
    </div>
</div>

</body>
</html>