<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Theater Detail</title>
</head>
<body>
<div class="container">
    <div class="subcontainer">
        <h2>Name: {{theater_detail.name}}</h2>
        <h2>Movie: {{theater_detail.movie}}</h2>
        <h2>Is_active: {{theater_detail.is_active}}</h2>
        <h2>Seat Quantity: {{theater_detail.seat_quantity }}</h2>
        <h2>Price: {{theater_detail.price}}</h2>
        <h2>Show_time: {{theater_detail.show_time}}</h2>
    </div>
    
</div>



</body>
</html>