<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
</head>
<body>

<div class="container">
    {% for theater in theater_list %}
    <div class="subcontainer">
        <h2>ID: {{ theater.id }}</h2>
        <h2>Name: {{ theater.name }}</h2>
        <h2>Movie: {{ theater.movie }}</h2>
        <h2>Seat Quantity: {{ theater.seat_quantity }}</h2>
        <h2>Price: {{ theater.price }}</h2>
        <h2>Show_date: {{ theater.show_time }}</h2>
        
    </div>
    {% endfor %}
</div>

</body>
</html>